<!DOCTYPE html>
<html>

<head>
    {% load static %}
    {% comment %} {% load staticfiles %} {% endcomment %}
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->

    <link rel="stylesheet" href="{%static "css/style.css" %}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Indian-Banks</title>
    <style>
        {% block css %}
        {% endblock css %}
    </style>
</head>

<body>
    <nav>
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo">Banks</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h2 class="center-align">Search Indian Bank Deatils</h2>
        <form id="ifsc" action="search_ifsc" method="get" style="margin-top:30px;">
            <input type="text" name="ifsc" placeholder="Enter Bank IFSC Code (IFSC Code Should we valid)">
            <button class="btn waves-effect waves-light" type="submit">Search
                <i class="material-icons right">send</i>
            </button>
        </form><br>
        <p class="center-align">OR</p><hr style="margin:o auto; width:10%;">
         <form id="citybank" action="searchDist" method="get">
            <input type="text" name="city" placeholder="Enter City Name (City Name Should we valid)">
            <input type="text" name="bank" placeholder="Enter Bank Name (Bank Name Should we valid)">
            <button class="btn waves-effect waves-light" type="submit">Search
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
    {% block content %}

    {% endblock content %}
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
     const citybank=document.getElementById('citybank')
     const ifsc=document.getElementById('ifsc')
     ifsc.addEventListener('submit',getBanks)
     citybank.addEventListener('submit',getBanks)
     function getBanks(event){
         const myForm=event.target
         const myFormData = new FormData(myForm)
         const url = myForm.getAttribute("action")
         const method = myForm.getAttribute("method")
         const xhr = new XMLHttpRequest()
         xhr.open(method, url)
         xhr.send(myFormData)
         xhr.onload=function(){
             myForm.reset()
         }
     }

     function allbanks(){
         const url = 'api'
         const method='get'
         const xhr = new XMLHttpRequest()
         xhr.open(method, url)
         xhr.send()
         xhr.onload= function(){
            let obj = JSON.parse(this.responseText);
            console.log(obj);
         }
     }
     allbanks()
    </script>
</body>

</html>